/*start main rulez*/
body{
	background-color: #F4F4F4;
	font-size: 16px;
}
.asterisk{
	font-size: 30px;
	position: absolute;
	right: 27px;
	top: 3px;
	color: #F00;
}
/*end main rulez*/
/*start Login Form*/
.login h4{
	color: #888;
}
.login{
	width: 300px;
    margin:100px auto;
}
.login input{
	margin-bottom: 10px;
}
.login .form-control{
	background-color: #E5E5E5;
}
.login .btn {
	background-color: #008dde;
}
/*end login form
/*start bootstrap edit*/
 .navbar{
 	border-radius: 0;
 	margin-bottom: 0;
 }
 .form-control{
	 position: relative;
 }
/*end bootstrap edit*/
/*start members*/
h1{
	font-size: 55px;
	margin: 40px 0;
	font-weight: bold;
	color: #666;
}
.show-pass{
position: absolute;
top: 6px;
right: -30px;
}
.main-table tr:first-child td{
background-color: #333;
color: #FFF;
text-align: center;
            }
/*end members*/
